/* body{
   background-color: aqua;
} */
div+p{
   background-color: aqua;
}
/* #para1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
 p:hover{
   background-color: cadetblue;
   font-size: xx-large;
}
p::before{
   content: "SIddhant Rastogi";
   background-color: yellow;
}
p::after{
   content: "ABES Engineering College";
   background-color: red;
}
p::selection{
   background-color: greenyellow;
}
p:nth-child(2){
   background-color: coral;
}
/* div p:nth-of-type{
   background-color: blue;
} */