.container{
   display: flex;
   flex-direction: column-reverse;
   border: 1px solid red;
   background-color: cadetblue;
}

.child1{
   border: 1px dotted chartreuse;
   background-color: brown;
   height: 200px;
   width: 200px;
}

.child2{
   border: 1px dotted chartreuse;
   background-color: black;
   height: 200px;
   width: 200px;
}

.child3{
   border: 1px dotted chartreuse;
   background-color: yellow;
   height: 200px;
   width: 200px;
}

.child4{
   border: 1px dotted chartreuse;
   background-color: green;
   height: 200px;
   width: 200px;
}